/* purgecss start ignore */
:root {
    /* dark vars */
    --dark-bg: #2e3440;
    --dark-heading: #e5e9f0;
    --dark-text: #d8dee9;
    --dark-scrollbar-thumb: #4c566a;
    --dark-scrollbar-track: #434c5e;
    --dark-border: #eceff4;
    --dark-link-color: #68d3e6;
    /* light vars */
    --light-bg: #eceff4;
    --light-text: #2e3440;
    --light-scrollbar-thumb: #d8dee9;
    --light-scrollbar-track: #e5e9f0;
    --light-border: #434c5e;
    --link-color: #2255cb;
    /* gradient */
    --gradient: linear-gradient(to right, #11998E 0%, #38ef7d 100%);
}

@keyframes dark-to-light {
    from {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }
    to { 
        background-color: var(--light-bg);
        color: var(--light-text);
    }
}

@keyframes light-to-dark {
    from {
        background-color: var(--light-bg);
        color: var(--light-text);
    }
    to {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }
}

.no-wrap {
    white-space: nowrap;
}

.dark-to-light, .light-to-dark {
    animation-duration: 700ms;
}

.dark-to-light {
    animation-name: dark-to-light;
}

.light-to-dark {
    animation-name: light-to-dark;
}

span.switcher:hover {
    cursor: pointer;
}

.switcher {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: underline;
}

.rainbow {
    background: var(--gradient);
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion) {
    .rainbow {
        animation: none !important;
    }
}

/* Shamelessly stolen from a random codepen, but I don't think they would care. */
@keyframes rainbow { 
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(-360deg); }
}

:root {
    --family-primary: "Roboto Mono", monospace !important;
    --family-secondary: var(--family-primary) !important;
}

.subheading {
    text-align:left;
    font-size: 1.4rem !important;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}

body {
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    margin: 60px auto;
    max-width: 700px;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

h3 {
  margin:0;
  padding:0;
  line-height: 1.2;
}

h2 {
  padding-top: 40px;
  font-style: italic;
  font-size: 18px;
}

.list {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}

code,
.code {
  font-size: 1.125rem;
  line-height: 1.6;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}

img {
    display: block;
    margin: auto;
}

#nav > header > div.mr-6 > h3 > a > span > a { /* Chrome gave me this selector I hope it works */
    border: none !important;
}
/* dark theme */
.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    scrollbar-color: var(--dark-scrollbar-thumb) var(--dark-scrollbar-track);
}
/* TODO: are these color statements really necessary? */
.dark .home, .dark .subheading {
    color: var(--dark-text);
}
.dark #nav a, .dark .heading {
    color: var(--dark-heading);
}
.dark #nav a.router-link-exact-active, .dark .frame {
    border: 1.5px solid var(--dark-border);
}
::-webkit-scrollbar {
    width: 15px;
}
.dark::-webkit-scrollbar-track {
    background-color: var(--dark-scrollbar-track);
}
.dark::-webkit-scrollbar-thumb {
    background-color: var(--dark-scrollbar-thumb);
}

.dark img {
    background-color: var(--light-bg);
    border-radius: 4px; /* Optional, if you want rounded corners */
}

.dark a:link {
    color:var(--dark-link-color)
}

.dark a:visited {
    color:var(--dark-link-color);
}

/* light theme */
.light {
    background-color: var(--light-bg);
    color: var(--light-text);
    scrollbar-color: var(--light-scrollbar-thumb) var(--light-scrollbar-track);
}
.light .home, .light .subheading {
    color: var(--light-text);
}
.light #nav a, .light .heading {
    color: var(--light-heading);
}
.light #nav a.router-link-exact-active {
    border: 1.5px solid var(--light-border);
}
.light::-webkit-scrollbar-track {
    background-color: var(--light-scrollbar-track);
}
.light::-webkit-scrollbar-thumb {
    background-color: var(--light-scrollbar-thumb);
}

.light a:link {
    color: var(--link-color)
}

.light a:visited {
    color:var(--link-color);
}

/* purgecss end ignore */

  